/* Import Calendar Styles FIRST */
@import "leaflet/dist/leaflet.css";

@import "react-date-range/dist/styles.css";
@import "react-date-range/dist/theme/default.css";

/* Then Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for sidebar */
.sidebar-scroll::-webkit-scrollbar {
  width: 0px;
}
.sidebar-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}

@keyframes toast-enter {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-toast-enter {
  animation: toast-enter 0.25s ease-out;
}

@keyframes toast-enter-center {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-toast-enter {
  animation: toast-enter-center 0.25s ease-out;
}

* {
  transition: background-color 0.25s ease, color 0.25s ease;
}
