/* Import Calendar Styles FIRST */
@import "react-date-range/dist/styles.css";
@import "react-date-range/dist/theme/default.css";

/* Then Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for sidebar */
.sidebar-scroll::-webkit-scrollbar {
  width: 0px;
}
.sidebar-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}
