/* Import Calendar Styles FIRST */
@import "react-date-range/dist/styles.css";
@import "react-date-range/dist/theme/default.css";

/* Then Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
